@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    width: 80%;
    margin-top: 20px;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.instructions-box {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.intro-text {
    text-align: center;
    margin-bottom: 10px;
}

.description {
    font-size: 1em;
    text-align: left;
    margin-left: 20px;
}

.description ul {
    padding-left: 20px;
}

.form-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 10px;
}

label {
    margin: 10px 0 5px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.show-scores-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

#scores-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

#scores, #friend-points {
    width: 48%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    max-height: 400px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
